<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Inertias Macros -->
<xacro:include filename="$(find jetbot_diff_drive)/urdf/includes/gazebo/inertias.xacro" />  
<!-- Inertias Macros -->  

<!-- CAMERA -->
  <link name="camera_mount_base">
    <visual>
      <geometry>
        <box size="0.01 0.04 0.002"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.01 0.04 0.002"/>
      </geometry>
    </collision>
    <xacro:cuboid_inertia mass="0.6" x="0.01" y="0.04" z="0.002" />        
  </link>
  <joint name="camera_mount_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_mount_base"/>
    <origin rpy="0 0 0" xyz="0.0615 0 0.0315"/>
  </joint>

  <link name="camera_mount_over">
    <visual>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <box size="0.03 0.04 0.002"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <box size="0.03 0.04 0.002"/>
      </geometry>
    </collision>    
    <xacro:cuboid_inertia mass="0.6" x="0.03" y="0.04" z="0.002"/>        
  </link>
  <joint name="camera_mount_over_joint" type="fixed">
    <parent link="camera_mount_base"/>
    <child link="camera_mount_over"/>
    <origin xyz="0.004 0 0.016"/>
  </joint>

  <link name="camera_mount_angled">
    <visual>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <box size="0.025 0.025 0.002"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <box size="0.025 0.025 0.002"/>
      </geometry>
    </collision>    
    <xacro:cuboid_inertia mass="0.6" x="0.025" y="0.025" z="0.002" />        
  </link>
  <joint name="camera_mount_angled_joint" type="fixed">
    <parent link="camera_mount_over"/>
    <child link="camera_mount_angled"/>
    <origin rpy="0 0.463647609 0" xyz="0.0055 0 0.025"/>
  </joint>

  <link name="camera_screen_base">
    <visual>
      <origin rpy="0 1.57079632679 0"/>    
      <geometry>
        <box size="0.025 0.025 0.004"/>
      </geometry>
      <material name="soft_blue"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>    
      <geometry>
        <box size="0.025 0.025 0.004"/>
      </geometry>
    </collision>
    <xacro:cuboid_inertia mass="0.6" x="0.025" y="0.025" z="0.004" />
  </link>
  <joint name="camera_mount_screen_joint" type="fixed">
    <parent link="camera_mount_angled"/>
    <child link="camera_screen_base"/>
    <origin rpy="0 0 0" xyz="0.0025 0 0"/>    
  </joint>

  <link name="camera_pcb_base">
    <visual>
      <origin rpy="0 1.57079632679 0"/>    
      <geometry>
        <box size="0.013 0.013 0.004"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>    
      <geometry>
        <box size="0.013 0.013 0.004"/>
      </geometry>
    </collision>    
    <xacro:cuboid_inertia mass="0.6" x="0.013" y="0.013" z="0.004" />        
  </link>
  <joint name="camera_pcb_base_joint" type="fixed">
    <parent link="camera_screen_base"/>
    <child link="camera_pcb_base"/>
    <origin xyz="0.0025 0 0"/>    
  </joint>

  <link name="camera_lens_body">
    <visual>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder length="0.01" radius="0.006"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder length="0.01" radius="0.006"/>
      </geometry>
    </collision>    
    <xacro:cylinder_inertia mass="0.6" r="0.006" h="0.01" />        
  </link>
  <joint name="camera_lens_body_joint" type="fixed">
    <parent link="camera_pcb_base"/>
    <child link="camera_lens_body"/>
    <origin xyz="0.007 0 0"/>    
  </joint>

  <link name="camera_lens_body_out">
    <visual>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder length="0.003" radius="0.0075"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder length="0.003" radius="0.0075"/>
      </geometry>
    </collision>    
    <xacro:cylinder_inertia mass="0.6" r="0.0075" h="0.003"/>        
  </link>
 <joint name="camera_lens_body_out_joint" type="fixed">
    <parent link="camera_lens_body"/>
    <child link="camera_lens_body_out"/>
    <origin xyz="0.005 0 0"/>    
  </joint>

  <link name="camera_lens">
    <visual>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="grey_alpha"/>
    </visual>
    <collision>
      <origin rpy="0 1.57079632679 0"/>
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>    
    <xacro:sphere_inertia mass="0.6" r="0.005" />        
  </link>
 <joint name="camera_lens_joint" type="fixed">
    <parent link="camera_lens_body_out"/>
    <child link="camera_lens"/>
    <origin xyz="-0.001 0 0"/>    
  </joint>

</robot>