<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetbot">

  <!-- All Neccesary Header Files, Macros and Constants -->
  <xacro:include filename="$(find jetbot_diff_drive)/urdf/includes.xacro" />  
  <!-- All Neccesary Header FIles, Macros and Constants -->  

  <!-- CHASSIS -->
  <xacro:include filename="$(find jetbot_diff_drive)/urdf/includes/parts/chassis.xacro" />  
  <!-- LEFT WHEEL -->
  <xacro:wheel_parts prefix="lt" reflect="1" />
  <!-- RIGHT WHEEL -->    
  <xacro:wheel_parts prefix="rt" reflect="-1" />
  <!-- FRONT CASTER WHEEL -->
  <xacro:caster_wheel_parts prefix="front" reflect="1" />
  <!-- BACK CASTER WHEEL -->
  <xacro:caster_wheel_parts prefix="back" reflect="-1" />
  <!-- LEFT ANTENNA -->
  <xacro:antenna prefix="lt" reflect="1" />
  <!-- RIGHT ANTENNA -->
  <xacro:antenna prefix="rt" reflect="-1" />
  <!-- CAMERA -->
  <xacro:include filename="$(find jetbot_diff_drive)/urdf/includes/parts/camera.xacro" />  
  <!-- BOARDS -->
  <xacro:include filename="$(find jetbot_diff_drive)/urdf/includes/parts/boards.xacro" />  

</robot>