<launch>

  <!-- Arguments for intel realsense -->
  <arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" />

  <!-- Arguments for RPLidar -->
  <arg name="lidar_enable" default="true" />
  <arg name="visualize_laser" default="true" /> 

  <!-- Arguments for IMU -->
  <arg name="imu_enable" default="true" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find jetbot_diff_drive)/urdf/jetbot.xacro
                            pointcloud_enable:=$(arg pointcloud_enable) 
                            realsense_enable:=$(arg realsense_enable)
                            lidar_enable:=$(arg lidar_enable)
                            visualize_laser:=$(arg visualize_laser)
                            imu_enable:=$(arg imu_enable)" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find jetbot_diff_drive)/world/jetbot.world"/>    
  </include>

  <!-- This will be usefull if you want to use this launch file stand alone to prevent -->
  <!-- the p error message when loading the file                                       -->
  <rosparam command="load"
            file="$(find jetbot_diff_drive)/config/pid.yaml"
            ns="/" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
