<!-- This will launch gazebo and rviz -->
<!-- A quick note!, when you launch this file you will se errors on rviz -->
<!-- and that's perfectly normal :D -->
<launch>
  <!-- for realsense camera to appear/dissapear and publish/not publish pointclouds -->
  <arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" /> 

  <!-- for rplidar laser to appear/dissapear and publish/not publish ray -->
  <arg name="lidar_enable" default="true" />
  <arg name="visualize_laser" default="true" /> 

  <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
  <arg name="model" default="$(find jetbot_diff_drive)/urdf/jetbot.xacro
                            pointcloud_enable:=$(arg pointcloud_enable) 
                            realsense_enable:=$(arg realsense_enable)
                            lidar_enable:=$(arg lidar_enable)
                            visualize_laser:=$(arg visualize_laser)" />
  <arg name="rvizconfig" default="$(find jetbot_diff_drive)/rviz/jetbot.rviz" />

  <!-- for the ros controllers configuration in the parameter server -->
  <rosparam command="load"
            file="$(find jetbot_diff_drive)/config/joints.yaml"
            ns="jetbot_joint_state_controller" />
            
  <rosparam command="load"
            file="$(find jetbot_diff_drive)/config/diff_drive.yaml"
            ns="jetbot_diff_drive_controller" />

  <rosparam command="load"
            file="$(find jetbot_diff_drive)/config/pid.yaml"
            ns="/" />

  <!-- this will include the launch file for gazebo given the model -->  
  <include file="$(find jetbot_diff_drive)/launch/jetbot_gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="pointcloud_enable" value="${pointcloud_enable}" />
    <arg name="realsense_enable" value="${realsense_enable}" />    
  </include>

  <!-- this will launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- the control manager has the same namespace as the parameter server to work -->
  <node name="jetbot_controller_spawner" pkg="controller_manager" type="spawner"
    args="jetbot_joint_state_controller
          jetbot_diff_drive_controller "/>

  <!-- A GUI controller to publish commands to topics -->
  <node name="jetbot_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/jetbot_diff_drive_controller/cmd_vel"/>
  </node>    
    
    
    
</launch>
