<!-- This file will launch rviz to visualize the URDF or XACRO model -->
<!-- Note that you must not have error when the rviz load is complete -->
<launch>
  <!-- arguments for the realsense camera to load -->
  <arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" /> 

  <!-- arguments for lidar use -->
  <arg name="lidar_enable" default="true" />
  <arg name="visualize_laser" default="true" /> 

  <!-- argument for imu use -->
  <arg name="imu_enable" default="true" />  

  <!-- argument for gps use -->
  <arg name="gps_enable" default="true" />  

  <!-- argument for ultrasonic use -->
  <arg name="ultrasonic_enable" default="true" />    

  <!-- arguments for model, rviz and gui -->
  <arg name="model" default="$(find jetbot_diff_drive)/urdf/jetbot.xacro
                            pointcloud_enable:=$(arg pointcloud_enable) 
                            realsense_enable:=$(arg realsense_enable)
                            lidar_enable:=$(arg lidar_enable)
                            publish_laser:=$(arg visualize_laser)
                            imu_enable:=$(arg imu_enable)
                            gps_enable:=$(arg gps_enable)
                            ultrasonic_enable:=$(arg ultrasonic_enable)" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find jetbot_diff_drive)/rviz/jetbot.rviz" />

  <!-- parses the urdf to the robot description in parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- this will publish the joints and launch rviz -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
