<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Inertia Equations -->
  <!-- https://bit.ly/2S0aK32 -->
  <!-- ixx ixy ixz -->
  <!-- ixy iyy iyz -->
  <!-- ixz iyz izz -->

  <!-- A simple inertial macro -->
  <xacro:macro name="inertia" params="mass">
    <inertial>
      <mass value="${mass}"/>
      <inertia ixx="0.04" ixy="0.0" ixz="0.0" iyy="0.04" iyz="0.0" izz="0.04"/>
    </inertial>
  </xacro:macro>
  <!-- A simple inertial macro -->

  <!-- cuboid inertia -->
  <xacro:macro name="cuboid_inertia" params="mass x y z">
      <inertia  ixx="${mass*(y*y+z*z)/12}" ixy = "0" ixz = "0"
                iyy="${mass*(x*x+z*z)/12}" iyz = "0"
                izz="${mass*(x*x+z*z)/12}" /> 
  </xacro:macro>
  <!-- cuboid inertia -->

  <!-- sphere inertia -->
  <xacro:macro name="sphere_inertia" params="mass r">
    <inertia  ixx="${2*mass*r*r/5}" ixy = "0" ixz = "0"
              iyy="${2*mass*r*r/5}" iyz = "0"
              izz="${2*mass*r*r/5}" /> 
  </xacro:macro>
  <!-- sphere inertia -->

  <!-- cylinder inertia -->
  <xacro:macro name="cylinder_inertia" params="mass r h">
    <inertia  ixx="${mass*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
              iyy="${mass*(3*r*r+h*h)/12}" iyz = "0"
              izz="${mass*r*r/2}" /> 
  </xacro:macro>  
  <!-- cylinder inertia -->

</robot>