<?xml version="1.0"?>
<robot>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <!--Gazebo Camera Plugin-->
  <gazebo reference="camera_lens">
    <sensor type="camera" name="camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>1280</width>
          <height>760</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/jetbot_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_lens</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>  


   <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <rpyOffsets>0 0 0</rpyOffsets>
      <xyzOffsets>0 0 0</xyzOffsets>
      <frameName>base_footprint</frameName>
      <gaussianNoise>0.01</gaussianNoise>
      <topicName>gazebo_robot_pose</topicName>
      <bodyName>base_link</bodyName>
      <updateRate>50.0</updateRate>
      <alwaysOn>true</alwaysOn>
    </plugin>
  </gazebo>
 

  <!-- Hardcoding all the links here for colors -->
  <gazebo reference="odom">
    <material>Gazebo/White</material>  
  </gazebo>

  <!-- Base Footprint Link -->
  <gazebo reference="base_footprint">
    <material>Gazebo/White</material>  
  </gazebo>

  <!-- Base Link -->
  <gazebo reference="base_link">
    <material>Gazebo/BlueTransparent</material>
  </gazebo>

  <!-- Shaft Link -->
  <gazebo reference="lt_wheel_shaft">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="rt_wheel_shaft">
    <material>Gazebo/White</material>
  </gazebo>

  <!-- Wheels Links -->  
  <gazebo reference="lt_wheelc">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="rt_wheelc">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="lt_wheel">
    <mu1>1.16</mu1>
    <mu2>1.16</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="rt_wheel">
    <mu1>1.16</mu1>
    <mu2>1.16</mu2>
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Caster Links -->
  <gazebo reference="front_caster_lt_cyl">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="front_caster_rt_cyl">
    <material>Gazebo/White</material>
  </gazebo>  

  <gazebo reference="back_caster_lt_cyl">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="back_caster_rt_cyl">
    <material>Gazebo/White</material>
  </gazebo>    

  <gazebo reference="front_caster_base">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="back_caster_base">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="front_caster">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="back_caster">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>  


  <!-- Antenna Links -->
  <gazebo reference="lt_antenna">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="rt_antenna">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="lt_antenna_top">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="rt_antenna_top">
    <material>Gazebo/Black</material>
  </gazebo>  

  <!-- Camera Links -->
  <gazebo reference="camera_mount_base">
    <material>Gazebo/BlueTransparent</material>
  </gazebo>

  <gazebo reference="camera_mount_over">
    <material>Gazebo/BlueTransparent</material>
  </gazebo>

  <gazebo reference="camera_mount_angled">
    <material>Gazebo/BlueTransparent</material>
  </gazebo>

  <gazebo reference="camera_screen_base">
    <material>Gazebo/SkyBlue</material>
  </gazebo>

  <gazebo reference="camera_pcb_base">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="camera_lens_body">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="camera_lens_body_out">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="camera_lens">
    <material>Gazebo/GreyTransparent</material>
  </gazebo>

  <!-- Jetson Nano and Motor Driver Board -->
  <gazebo reference="pcb_boards">
    <material>Gazebo/GreenTransparent</material>
  </gazebo>

  <gazebo reference="bno055_base">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="mtk3339_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="back_rt45_sonar_8_link">
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="back_sonar_7_link">
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="back_lt45_sonar_6_link">
    <material>Gazebo/Purple</material>
  </gazebo>

    <gazebo reference="back_lt_sonar_5_link">
    <material>Gazebo/Purple</material>
  </gazebo>

    <gazebo reference="front_lt45_sonar_4_link">
    <material>Gazebo/Purple</material>
  </gazebo>

    <gazebo reference="front_sonar_3_link">
    <material>Gazebo/Purple</material>
  </gazebo>

    <gazebo reference="front_rt45_sonar_2_link">
    <material>Gazebo/Purple</material>
  </gazebo>

    <gazebo reference="back_rt_sonar_1_link">
    <material>Gazebo/Purple</material>
  </gazebo>

  <!-- Hardcoding all the links here for colors -->

</robot>
